.list-style{
    list-style-type:none;
}

.football-team{
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 15px;
    border: 1px solid darkgoldenrod;
    box-shadow: 5px 3px 10px 4px lightgrey ;

}
