
.player-image{
    height:300px;
    width: 350px;
    
    border-radius: 15px;
}
.player-info{
    background: linear-gradient(45deg, #bcd0f2 0%,#f0d6c7 50%,#b7e5dc 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.element{
    border-radius: 15px;
}

.image{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background:white;
}