
.player-image{
    height:300px;
    width: 350px;
    
    border-radius: 15px;
}
.player-info{
    background-color: darkgray;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.element{
    border-radius: 15px;
}

